<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Top Donors Report</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Total Donation Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${topDonors}">
                    <td th:text="${row.firstName}"></td>
                    <td th:text="${row.lastName}"></td>
                    <td th:text="${row.email}"></td>
                    <td th:text="${row.year}"></td>
                    <td>
                <span th:switch="${row.month}">
                    <span th:case="1">January</span>
                    <span th:case="2">February</span>
                    <span th:case="3">March</span>
                    <span th:case="4">April</span>
                    <span th:case="5">May</span>
                    <span th:case="6">June</span>
                    <span th:case="7">July</span>
                    <span th:case="8">August</span>
                    <span th:case="9">September</span>
                    <span th:case="10">October</span>
                    <span th:case="11">November</span>
                    <span th:case="12">December</span>
                    <span th:case="*">Unknown</span>
                </span>
                    </td>
                    <td th:text="${row.totalDonationAmount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>