<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col mt-5" style="word-wrap: break-word;">
        <h1>Whoopsie!</h1>
        <p>An error occurred. Please contact Support if you continue to see this error.</p>
        <table class="table table-bordered table-striped">
          <tr>
            <td>Timestamp</td>
            <td th:text="${timestamp}">Timestamp</td>
          </tr>
          <tr>
            <td>Path</td>
            <td th:text="${path}">Path</td>
          </tr>
          <tr>
            <td>Status</td>
            <td th:text="${status}">Status</td>
          </tr>
          <tr>
            <td>Error</td>
            <td th:text="${error}">Error</td>
          </tr>
          <tr>
            <td>Message</td>
            <td th:text="${message}">Message</td>
          </tr>
          <tr th:if="${trace}">
            <td>Stack Trace</td>
            <td>
              <code class="small" style="word-wrap: break-word; white-space: pre-wrap;"
                    th:text="${#strings.replace(trace, '\n', '<br>')}"></code>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</html>