<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Create an Entry</h1>
            <form th:action="@{'/entries'}"
                  th:method="post"
                  th:object="${entry}"
                  class="form needs-validation"
                  novalidate>

                <div th:if="${#fields.hasErrors('global')}">
                    <h4>General errors</h4>
                    <div class="alert alert-danger">
                        <div class="" th:each="err : ${#fields.errors('global')}"
                             th:text="${err}"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <ul class="list-group-flush alert-warning">
                        <li class="list-group-item" th:each="err : ${#fields.errors('name')}"
                            th:text="${err}"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                    <ul class="list-group-flush alert-warning">
                        <li class="list-group-item" th:each="err : ${#fields.errors('email')}"
                            th:text="${err}"></li>
                    </ul>
                </div>

 
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}">
                    <ul class="list-group-flush alert-warning">
                        <li class="list-group-item" th:each="err : ${#fields.errors('username')}"
                            th:text="${err}"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
                    <ul class="list-group-flush alert-warning">
                        <li class="list-group-item" th:each="err : ${#fields.errors('dateOfBirth')}"
                            th:text="${err}"></li>

                    </ul>
                </div>

                <label class="form-group">
                    <label for="shareData">Share Data</label>
                    <input type="checkbox" class="checkboxes" id="shareData" th:field="*{shareData}"> </label>
                    <ul class="list-group-flush alert-warning">
                        <li class="list-group-item" th:each="err : ${#fields.errors('shareData')}"
                        th:text="${err}"></li>
                        </ul>








                <input type="submit" value="Submit" class="btn btn-primary"/>


            </form>

        </div>
    </div>


</div>


</body>
</html>