<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Welcome to INTC-3283; Introduction to Data Management</h1>

            <p>Are you ready to make your first database entry?</p>
            <a th:href="@{/entries/new}" class="btn btn-primary">Create an Entry</a>
        </div>
    </div>


    <div class="row">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${entries}">
                <!-- Add more fields later -->
                <td th:text="${entry.getId()}">ID</td>
                <td th:text="${entry.getName()}">Name</td>
                <rd th:text="${entry.getAge()}">Age</rd>
                <rd th:text="${entry.getAddress()}">Address</rd>
                <rd th:text="${entry.getHuman()}">Human</rd>
            </tr>
            </tbody>
        </table>


    </div>

</div>


</body>
</html>