<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Welcome to INTC-3283; Introduction to Data Management</h1>
        </div>
    </div>



    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>th>
                <th>dateOfBirth</th>th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${entries}">
                <td th:text="${entry.getId()}">ID goes here</td>
                <td th:text="${entry.getName()}">Name goes here</td>
                <td th:text="${entry.getUsername}">Username goes here</td>
                <td th:text="${entry.getDateOfBirth()}">Date of Birth goes here</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>