<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Welcome to INTC-3283; Introduction to Data Management</h1>

            <p>Are you ready to make your first database entry?</p>
            <a th:href="@{/entries/new}" class="btn btn-primary">Create an Entry</a>
        </div>
    </div>

</div>


</body>
</html>