<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Table</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">

    <!---Concept from PreProject 1 How-to video--->
    <div class="row">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Human</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${entries}">
                <!-- Add more fields later -->
                <td th:text="${entry.getId()}">ID</td>
                <td th:text="${entry.getName()}">Name</td>
                <td th:text="${entry.getAge()}">Age</td>
                <td th:text="${entry.getEmail()}">Age</td>
                <td th:text="${entry.getAddress()}">Address</td>
                <td th:text="${entry.getHuman()}">Human</td>
            </tr>
            </tbody>
        </table>


    </div>

    <a th:href="@{/}" class="btn btn-primary">Back</a>



</div>


</body>
</html>